body {
    display: flex;
    justify-content : center;
    text-align : center;
    background-color : hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

img {
    border-radius: 20px;
    width : 450px
}

#mainSection {
    background-color:hsl(0, 0%, 100%);
    padding : 25px; 
    border-radius : 20px
}

#textSection {
    /* border : 1px solid red; */
    width : 400px;
    margin : auto
}

#heading {
    color : hsl(218, 44%, 22%);
    font-size : 35px
}

#caption {
    color : hsl(220, 15%, 55%);
    font-size: 25px;
}